<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- load URDF of wrist controller -->
    <xacro:include filename="$(find wrist_controller)/urdf/wrist.urdf.xacro"/>

    <!-- EDIT: add your robot starting from the link "base_link_name" that you specified in robot.launch -->
    <xacro:include filename="$(find wrist_controller)/urdf/robot.urdf.xacro"/>
    
</robot>
