<launch>

  <!-- NOTE: this launch file brings up any components that relate to the wrist controller -->
  <arg name="spawn_delay" default="0" />

  <!-- load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find wrist_controller)/config/wrist_control.yaml" command="load"/>

  <!-- load the controllers -->
  <node name="wrist_controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="gazebo" launch-prefix="bash -c 'sleep $(arg spawn_delay); $0 $@' " args="wrist_joint_state_controller 
    px_position_controller
    py_position_controller
    pz_position_controller
    ry_position_controller
    rp_position_controller 
    rr_position_controller
    " />

  <!-- launch wrist controller node -->
  <node pkg="wrist_controller" type="wrist_controller_node" name="wrist_controller_node" respawn="true" output="screen" launch-prefix="bash -c 'sleep $(arg spawn_delay); $0 $@' "/>

</launch>